USE [AADSP]
GO
/****** Object:  Schema [ACESSO]    Script Date: 02/13/2016 21:28:22 ******/
CREATE SCHEMA [ACESSO] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [GAPS]    Script Date: 02/13/2016 21:28:22 ******/
CREATE SCHEMA [GAPS] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [ENDERECO]    Script Date: 02/13/2016 21:28:22 ******/
CREATE SCHEMA [ENDERECO] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [PDCA]    Script Date: 02/13/2016 21:28:22 ******/
CREATE SCHEMA [PDCA] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [PERFIL]    Script Date: 02/13/2016 21:28:22 ******/
CREATE SCHEMA [PERFIL] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [SPRINT]    Script Date: 02/13/2016 21:28:22 ******/
CREATE SCHEMA [SPRINT] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [TAP]    Script Date: 02/13/2016 21:28:22 ******/
CREATE SCHEMA [TAP] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [USUARIO]    Script Date: 02/13/2016 21:28:22 ******/
CREATE SCHEMA [USUARIO] AUTHORIZATION [dbo]
GO
/****** Object:  Table [TAP].[AADSP_TAP_ESCOPO]    Script Date: 02/13/2016 21:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAP].[AADSP_TAP_ESCOPO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [nvarchar](100) NOT NULL,
	[ID_tipoEscopo] [int] NULL,
	[ID_tapProjeto] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  View [USUARIO].[GAPS_USUARIO_CADASTRO_MENU_PESQUISA]    Script Date: 02/13/2016 21:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [USUARIO].[GAPS_USUARIO_CADASTRO_MENU_PESQUISA]
AS

SELECT UPPER(COLUMN_NAME) as campo

FROM INFORMATION_SCHEMA.COLUMNS

WHERE TABLE_NAME = 'GAPS_USUARIO_CADASTRO'
and COLUMN_NAME != 'ID'
and COLUMN_NAME != 'ID_PERFILTIPOS'
and COLUMN_NAME != 'ID_BAIRRO'
GO
/****** Object:  Table [USUARIO].[AADSP_USUARIO_TIPO]    Script Date: 02/13/2016 21:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [USUARIO].[AADSP_USUARIO_TIPO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_GAPS_USUARIO_CONTATO_TIPO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TAP].[AADSP_TAP_SUB_TIPO_ESCOPO]    Script Date: 02/13/2016 21:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAP].[AADSP_TAP_SUB_TIPO_ESCOPO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SGPDS_TAP_SUB_TIPO_ESCOPO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TAP].[AADSP_TAP_PROJETO]    Script Date: 02/13/2016 21:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAP].[AADSP_TAP_PROJETO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](250) NOT NULL,
	[versao] [decimal](18, 2) NOT NULL,
	[dataAprovacao] [datetime] NULL,
	[justificativa] [nvarchar](500) NOT NULL,
	[dataCriacao] [datetime] NOT NULL,
 CONSTRAINT [PK_SGPDS_TAP_PROJETO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PDCA].[AADSP_PDCA_ESTRUTURA]    Script Date: 02/13/2016 21:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PDCA].[AADSP_PDCA_ESTRUTURA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[atividade] [nvarchar](60) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [ENDERECO].[AADSP_ENDERECO_ESTADO]    Script Date: 02/13/2016 21:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ENDERECO].[AADSP_ENDERECO_ESTADO](
	[ID] [int] NOT NULL,
	[uf] [nvarchar](5) NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SGPDS_ENDERECO_ESTADO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ENDERECO].[AADSP_ENDERECO_CIDADE]    Script Date: 02/13/2016 21:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ENDERECO].[AADSP_ENDERECO_CIDADE](
	[ID] [int] NOT NULL,
	[ID_estado] [int] NOT NULL,
	[nome] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_GAPS_ENDERECO_CIDADE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AADSP_SPRINT_TIPO_ATIVIDADE]    Script Date: 02/13/2016 21:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AADSP_SPRINT_TIPO_ATIVIDADE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [nvarchar](60) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [SPRINT].[AADSP_SPRINT_PLANO_PDCA]    Script Date: 02/13/2016 21:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SPRINT].[AADSP_SPRINT_PLANO_PDCA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_pdcaEstrutura] [int] NULL,
	[ID_sprintPlano] [int] NULL,
	[descricao] [nvarchar](250) NOT NULL,
	[horas] [int] NOT NULL,
	[ID_tipoAtividade] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [SPRINT].[AADSP_SPRINT_PLANO]    Script Date: 02/13/2016 21:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SPRINT].[AADSP_SPRINT_PLANO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[qtdDias] [int] NOT NULL,
	[nome] [nvarchar](100) NOT NULL,
	[ID_tapProjeto] [int] NOT NULL,
	[dataInicio] [datetime] NOT NULL,
	[dataFim] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [PERFIL].[AADSP_PERFIL_TIPOS]    Script Date: 02/13/2016 21:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PERFIL].[AADSP_PERFIL_TIPOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[descricoes] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_GAPS_PERFIL_TIPOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PERFIL].[AADSP_PERFIL_PERMISSOES]    Script Date: 02/13/2016 21:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PERFIL].[AADSP_PERFIL_PERMISSOES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[pagina] [nvarchar](150) NOT NULL,
	[chave] [nvarchar](100) NOT NULL,
	[ID_perfilTipo] [int] NOT NULL,
 CONSTRAINT [PK_GAPS_PERFIL_PERMISSOES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ENDERECO].[AADSP_ENDERECO_BAIRRO]    Script Date: 02/13/2016 21:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ENDERECO].[AADSP_ENDERECO_BAIRRO](
	[ID] [int] NOT NULL,
	[ID_cidade] [int] NOT NULL,
	[nome] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_GAPS_ENDERECO_BAIRRO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TAP].[AADSP_TAP_PLANEJAMENTO_ALTO_NIVEL]    Script Date: 02/13/2016 21:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAP].[AADSP_TAP_PLANEJAMENTO_ALTO_NIVEL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[data] [datetime] NOT NULL,
	[descricao] [nvarchar](250) NOT NULL,
	[ID_tapProjeto] [int] NOT NULL,
 CONSTRAINT [PK_SGPDS_TAP_PLANEJAMENTO_ALTO_NIVEL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [USUARIO].[AADSP_USUARIO_CADASTRO]    Script Date: 02/13/2016 21:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [USUARIO].[AADSP_USUARIO_CADASTRO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](200) NOT NULL,
	[dataNascimento] [datetime] NOT NULL,
	[ID_usuarioTipo] [int] NULL,
	[cpf] [nvarchar](20) NOT NULL,
	[rg] [nvarchar](20) NOT NULL,
	[email] [nvarchar](200) NULL,
	[ID_enderecoLogradouro] [bigint] NULL,
 CONSTRAINT [PK_GAPS_USUARIO_CADASTRO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TAP].[AADSP_TAP_TIPO_ESCOPO]    Script Date: 02/13/2016 21:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAP].[AADSP_TAP_TIPO_ESCOPO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [nvarchar](100) NOT NULL,
	[ID_subTipoEscopo] [int] NULL,
 CONSTRAINT [PK_SGPDS_TAP_TIPO_ESCOPO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TAP].[AADSP_TAP_ELABORADORES]    Script Date: 02/13/2016 21:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAP].[AADSP_TAP_ELABORADORES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_usuario] [int] NOT NULL,
	[ID_tapProjeto] [int] NOT NULL,
 CONSTRAINT [PK_SGPDS_TAP_ELABORADORES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ENDERECO].[SGPDS_ENDERECO_LOGRADOURO]    Script Date: 02/13/2016 21:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ENDERECO].[SGPDS_ENDERECO_LOGRADOURO](
	[ID] [bigint] NOT NULL,
	[ID_bairro] [int] NOT NULL,
	[nome] [nvarchar](250) NOT NULL,
	[cep] [bigint] NOT NULL,
 CONSTRAINT [PK_SGPDS_ENDERECO_LOGRADOURO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [USUARIO].[AADSP_USUARIO_FUNCIONARIO_CADASTRO]    Script Date: 02/13/2016 21:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [USUARIO].[AADSP_USUARIO_FUNCIONARIO_CADASTRO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_usuario] [int] NOT NULL,
	[salarioBase] [decimal](18, 2) NOT NULL,
	[contribuicaoSegurancaSocial] [decimal](18, 2) NULL,
	[seguroAcidenteTrabalho] [decimal](18, 2) NULL,
	[alimentacao] [decimal](18, 2) NULL,
	[transporte] [decimal](18, 2) NULL,
	[fgts] [decimal](18, 2) NULL,
 CONSTRAINT [PK_SGPDS_USUARIO_FUNCIONARIO_CADASTRO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TAP].[AADSP_TAP_PATROCINADORES]    Script Date: 02/13/2016 21:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAP].[AADSP_TAP_PATROCINADORES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_usuario] [int] NULL,
	[ID_tapProjeto] [int] NULL,
 CONSTRAINT [PK_SGPDS_TAP_PATROCINADORES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TAP].[AADSP_TAP_GERENTE]    Script Date: 02/13/2016 21:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAP].[AADSP_TAP_GERENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_usuario] [int] NULL,
	[ID_tapProjeto] [int] NULL,
 CONSTRAINT [PK_SGPDS_TAP_GERENTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ACESSO].[AADSP_ACESSO_DADOS]    Script Date: 02/13/2016 21:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ACESSO].[AADSP_ACESSO_DADOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](30) NOT NULL,
	[senha] [nvarchar](20) NOT NULL,
	[ID_cadastroUsuario] [int] NOT NULL,
 CONSTRAINT [PK_GAPS_ACESSO_DADOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF_SGPDS_TAP_PROJETO_dataCriacao]    Script Date: 02/13/2016 21:28:24 ******/
ALTER TABLE [TAP].[AADSP_TAP_PROJETO] ADD  CONSTRAINT [DF_SGPDS_TAP_PROJETO_dataCriacao]  DEFAULT (getdate()) FOR [dataCriacao]
GO
/****** Object:  ForeignKey [FK_GAPS_ACESSO_DADOS_GAPS_USUARIO_CADASTRO]    Script Date: 02/13/2016 21:28:24 ******/
ALTER TABLE [ACESSO].[AADSP_ACESSO_DADOS]  WITH CHECK ADD  CONSTRAINT [FK_GAPS_ACESSO_DADOS_GAPS_USUARIO_CADASTRO] FOREIGN KEY([ID_cadastroUsuario])
REFERENCES [USUARIO].[AADSP_USUARIO_CADASTRO] ([ID])
GO
ALTER TABLE [ACESSO].[AADSP_ACESSO_DADOS] CHECK CONSTRAINT [FK_GAPS_ACESSO_DADOS_GAPS_USUARIO_CADASTRO]
GO
/****** Object:  ForeignKey [FK_GAPS_ENDERECO_BAIRRO_GAPS_ENDERECO_CIDADE1]    Script Date: 02/13/2016 21:28:24 ******/
ALTER TABLE [ENDERECO].[AADSP_ENDERECO_BAIRRO]  WITH CHECK ADD  CONSTRAINT [FK_GAPS_ENDERECO_BAIRRO_GAPS_ENDERECO_CIDADE1] FOREIGN KEY([ID_cidade])
REFERENCES [ENDERECO].[AADSP_ENDERECO_CIDADE] ([ID])
GO
ALTER TABLE [ENDERECO].[AADSP_ENDERECO_BAIRRO] CHECK CONSTRAINT [FK_GAPS_ENDERECO_BAIRRO_GAPS_ENDERECO_CIDADE1]
GO
/****** Object:  ForeignKey [FK_SGPDS_ENDERECO_LOGRADOURO_SGPDS_ENDERECO_BAIRRO]    Script Date: 02/13/2016 21:28:24 ******/
ALTER TABLE [ENDERECO].[SGPDS_ENDERECO_LOGRADOURO]  WITH NOCHECK ADD  CONSTRAINT [FK_SGPDS_ENDERECO_LOGRADOURO_SGPDS_ENDERECO_BAIRRO] FOREIGN KEY([ID_bairro])
REFERENCES [ENDERECO].[AADSP_ENDERECO_BAIRRO] ([ID])
GO
ALTER TABLE [ENDERECO].[SGPDS_ENDERECO_LOGRADOURO] CHECK CONSTRAINT [FK_SGPDS_ENDERECO_LOGRADOURO_SGPDS_ENDERECO_BAIRRO]
GO
/****** Object:  ForeignKey [FK_SGPDS_PERFIL_PERMISSOES_SGPDS_PERFIL_TIPOS]    Script Date: 02/13/2016 21:28:24 ******/
ALTER TABLE [PERFIL].[AADSP_PERFIL_PERMISSOES]  WITH CHECK ADD  CONSTRAINT [FK_SGPDS_PERFIL_PERMISSOES_SGPDS_PERFIL_TIPOS] FOREIGN KEY([ID_perfilTipo])
REFERENCES [PERFIL].[AADSP_PERFIL_TIPOS] ([ID])
GO
ALTER TABLE [PERFIL].[AADSP_PERFIL_PERMISSOES] CHECK CONSTRAINT [FK_SGPDS_PERFIL_PERMISSOES_SGPDS_PERFIL_TIPOS]
GO
/****** Object:  ForeignKey [FK_SGPDS_TAP_ELABORADORES_SGPDS_TAP_ELABORADORES]    Script Date: 02/13/2016 21:28:24 ******/
ALTER TABLE [TAP].[AADSP_TAP_ELABORADORES]  WITH CHECK ADD  CONSTRAINT [FK_SGPDS_TAP_ELABORADORES_SGPDS_TAP_ELABORADORES] FOREIGN KEY([ID])
REFERENCES [TAP].[AADSP_TAP_ELABORADORES] ([ID])
GO
ALTER TABLE [TAP].[AADSP_TAP_ELABORADORES] CHECK CONSTRAINT [FK_SGPDS_TAP_ELABORADORES_SGPDS_TAP_ELABORADORES]
GO
/****** Object:  ForeignKey [FK_SGPDS_TAP_ELABORADORES_SGPDS_USUARIO_CADASTRO]    Script Date: 02/13/2016 21:28:24 ******/
ALTER TABLE [TAP].[AADSP_TAP_ELABORADORES]  WITH CHECK ADD  CONSTRAINT [FK_SGPDS_TAP_ELABORADORES_SGPDS_USUARIO_CADASTRO] FOREIGN KEY([ID_tapProjeto])
REFERENCES [TAP].[AADSP_TAP_PROJETO] ([ID])
GO
ALTER TABLE [TAP].[AADSP_TAP_ELABORADORES] CHECK CONSTRAINT [FK_SGPDS_TAP_ELABORADORES_SGPDS_USUARIO_CADASTRO]
GO
/****** Object:  ForeignKey [FK_SGPDS_TAP_GERENTE_SGPDS_TAP_PROJETO]    Script Date: 02/13/2016 21:28:24 ******/
ALTER TABLE [TAP].[AADSP_TAP_GERENTE]  WITH CHECK ADD  CONSTRAINT [FK_SGPDS_TAP_GERENTE_SGPDS_TAP_PROJETO] FOREIGN KEY([ID_tapProjeto])
REFERENCES [TAP].[AADSP_TAP_PROJETO] ([ID])
GO
ALTER TABLE [TAP].[AADSP_TAP_GERENTE] CHECK CONSTRAINT [FK_SGPDS_TAP_GERENTE_SGPDS_TAP_PROJETO]
GO
/****** Object:  ForeignKey [FK_SGPDS_TAP_GERENTE_SGPDS_USUARIO_CADASTRO]    Script Date: 02/13/2016 21:28:24 ******/
ALTER TABLE [TAP].[AADSP_TAP_GERENTE]  WITH CHECK ADD  CONSTRAINT [FK_SGPDS_TAP_GERENTE_SGPDS_USUARIO_CADASTRO] FOREIGN KEY([ID_usuario])
REFERENCES [USUARIO].[AADSP_USUARIO_CADASTRO] ([ID])
GO
ALTER TABLE [TAP].[AADSP_TAP_GERENTE] CHECK CONSTRAINT [FK_SGPDS_TAP_GERENTE_SGPDS_USUARIO_CADASTRO]
GO
/****** Object:  ForeignKey [FK_SGPDS_TAP_PATROCINADORES_SGPDS_TAP_PROJETO]    Script Date: 02/13/2016 21:28:24 ******/
ALTER TABLE [TAP].[AADSP_TAP_PATROCINADORES]  WITH CHECK ADD  CONSTRAINT [FK_SGPDS_TAP_PATROCINADORES_SGPDS_TAP_PROJETO] FOREIGN KEY([ID_tapProjeto])
REFERENCES [TAP].[AADSP_TAP_PROJETO] ([ID])
GO
ALTER TABLE [TAP].[AADSP_TAP_PATROCINADORES] CHECK CONSTRAINT [FK_SGPDS_TAP_PATROCINADORES_SGPDS_TAP_PROJETO]
GO
/****** Object:  ForeignKey [FK_SGPDS_TAP_PATROCINADORES_SGPDS_USUARIO_CADASTRO]    Script Date: 02/13/2016 21:28:24 ******/
ALTER TABLE [TAP].[AADSP_TAP_PATROCINADORES]  WITH CHECK ADD  CONSTRAINT [FK_SGPDS_TAP_PATROCINADORES_SGPDS_USUARIO_CADASTRO] FOREIGN KEY([ID_usuario])
REFERENCES [USUARIO].[AADSP_USUARIO_CADASTRO] ([ID])
GO
ALTER TABLE [TAP].[AADSP_TAP_PATROCINADORES] CHECK CONSTRAINT [FK_SGPDS_TAP_PATROCINADORES_SGPDS_USUARIO_CADASTRO]
GO
/****** Object:  ForeignKey [FK_SGPDS_TAP_PLANEJAMENTO_ALTO_NIVEL_SGPDS_TAP_PROJETO]    Script Date: 02/13/2016 21:28:24 ******/
ALTER TABLE [TAP].[AADSP_TAP_PLANEJAMENTO_ALTO_NIVEL]  WITH CHECK ADD  CONSTRAINT [FK_SGPDS_TAP_PLANEJAMENTO_ALTO_NIVEL_SGPDS_TAP_PROJETO] FOREIGN KEY([ID_tapProjeto])
REFERENCES [TAP].[AADSP_TAP_PROJETO] ([ID])
GO
ALTER TABLE [TAP].[AADSP_TAP_PLANEJAMENTO_ALTO_NIVEL] CHECK CONSTRAINT [FK_SGPDS_TAP_PLANEJAMENTO_ALTO_NIVEL_SGPDS_TAP_PROJETO]
GO
/****** Object:  ForeignKey [FK_SGPDS_TAP_TIPO_ESCOPO_SGPDS_TAP_SUB_TIPO_ESCOPO]    Script Date: 02/13/2016 21:28:24 ******/
ALTER TABLE [TAP].[AADSP_TAP_TIPO_ESCOPO]  WITH CHECK ADD  CONSTRAINT [FK_SGPDS_TAP_TIPO_ESCOPO_SGPDS_TAP_SUB_TIPO_ESCOPO] FOREIGN KEY([ID_subTipoEscopo])
REFERENCES [TAP].[AADSP_TAP_SUB_TIPO_ESCOPO] ([ID])
GO
ALTER TABLE [TAP].[AADSP_TAP_TIPO_ESCOPO] CHECK CONSTRAINT [FK_SGPDS_TAP_TIPO_ESCOPO_SGPDS_TAP_SUB_TIPO_ESCOPO]
GO
/****** Object:  ForeignKey [FK_SGPDS_USUARIO_CADASTRO_SGPDS_USUARIO_TIPO]    Script Date: 02/13/2016 21:28:24 ******/
ALTER TABLE [USUARIO].[AADSP_USUARIO_CADASTRO]  WITH CHECK ADD  CONSTRAINT [FK_SGPDS_USUARIO_CADASTRO_SGPDS_USUARIO_TIPO] FOREIGN KEY([ID_usuarioTipo])
REFERENCES [USUARIO].[AADSP_USUARIO_TIPO] ([ID])
GO
ALTER TABLE [USUARIO].[AADSP_USUARIO_CADASTRO] CHECK CONSTRAINT [FK_SGPDS_USUARIO_CADASTRO_SGPDS_USUARIO_TIPO]
GO
/****** Object:  ForeignKey [FK_SGPDS_USUARIO_FUNCIONARIO_CADASTRO_SGPDS_USUARIO_CADASTRO]    Script Date: 02/13/2016 21:28:24 ******/
ALTER TABLE [USUARIO].[AADSP_USUARIO_FUNCIONARIO_CADASTRO]  WITH CHECK ADD  CONSTRAINT [FK_SGPDS_USUARIO_FUNCIONARIO_CADASTRO_SGPDS_USUARIO_CADASTRO] FOREIGN KEY([ID_usuario])
REFERENCES [USUARIO].[AADSP_USUARIO_CADASTRO] ([ID])
GO
ALTER TABLE [USUARIO].[AADSP_USUARIO_FUNCIONARIO_CADASTRO] CHECK CONSTRAINT [FK_SGPDS_USUARIO_FUNCIONARIO_CADASTRO_SGPDS_USUARIO_CADASTRO]
GO
